{% load static %}
<section class="pt-page" data-id="home">
    <div class="section-inner start-page-content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                        <img src="{{ info.profile_pic.url }}" alt="profile_pic">
                    </div>
                </div>

                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="title-block">
                        <h1>سیاوش سلمانی</h1>
                        <div class="owl-carousel text-rotation">
                            <div class="item">
                                <div class="sp-subtitle">{{ info.job }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="{{ info.github }}"><i class="fa fa-github"></i></a>
                        <a href="{{ info.linkedin }}"><i class="fa fa-linkedin"></i></a>
                        <a href="{{ info.instagram }}"><i class="fa fa-instagram"></i></a>
                        <a href="{{ info.telegram }}"><i class="fa fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row">

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="about-me">
                        <div class="block-title">
                            <h3>درباره <span>من</span></h3>
                        </div>
                        <p>{{ info.about_me }}</p>
                    </div>
                    <div class="download-resume">
                        <a href="" class="btn btn-secondary">دانلود رزومه</a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <ul class="info-list">
                        <li><span class="title">سن</span><span class="value">{{ info.age }}</span></li>
                        <li><span class="title">شهر</span><span class="value">{{ info.city }}</span></li>
                        <li><span class="title">آدرس</span><span class="value">{{ info.address }}</span></li>
                        <li><span class="title">ایمیل</span><span class="value"><a
                                href="mailto:{{ info.email }}">{{ info.email }}</a></span></li>
                        <li><span class="title">تلفن</span><span class="value">{{ info.phone }}</span></li>
                        <li><span class="title">فریلنسری</span><span class="value available">{{ info.status }}</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
