{% load static %}
<section class="pt-page" data-id="resume">
    <div class="section-inner custom-page-content">
        <div class="page-header color-1">
            <h2>رزومه</h2>
        </div>
        <div class="page-content">

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="block">
                        <div class="block-title">
                            <h3>تحصیلات</h3>
                        </div>

                        <div class="timeline">
                            <!-- Education 1 -->
                            <div class="timeline-item">
                                <h4 class="item-title">در حال تحصیل</h4>
                                <span class="item-period">از 1401</span>
                                <span class="item-small">دانشگاه آزاد نجف آباد</span>
                                <p class="item-description">{{ info.education }}</p>
                            </div>
                            <!-- / Education 1 -->


                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="block">
                        <div class="block-title">
                            <h3>تجربه</h3>
                        </div>

                        <div class="timeline">
                            <!-- Experience 1 -->
                            <div class="timeline-item">
                                <h4 class="item-title">توسعه بک اند</h4>
                                <span class="item-period">2022 - کنونی</span>
                                <span class="item-small"></span>
                                <p class="item-description">{{ info.experience }}</p>
                            </div>
                            <!-- / Experience 1 -->


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="block">
                        <div class="block-title">
                            <h3>مهارت <span>ها</span></h3>
                        </div>
                        {% for item in resume %}
                            <div class="skills-info">
                                <h4>{{ item.title }}</h4>
                                <div class="skill-container">
                                    <div style="width: {{ item.progress_bar }}"
                                         class="skill-percentage skill-4"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <!-- Download Resume Button -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="block">
                        <div class="center download-resume">
                            <a href="#" class="btn btn-secondary">دانلود رزومه</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Download Resume Button -->

        </div>
    </div>
</section>